/* You can add global styles to this file, and also import other style files */

#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
    margin-bottom: 20px;
}

.img-perfil {
    width: 60px;
    height: 60px;
}

.img-perfil img {
    width: 100%;
}